@model Season

@{
    ViewData["Title"] = "SeasonForm";
    Layout = "../AdminPanel/_AdminPanelLayout";
}

<div class="row justify-content-between">
    <div class=" col-md-7 col-lg-4 p-3 add-container">
        <form asp-action="@(Model != null && Model.SeasonID > 0 ? "Edit":"Add")" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model != null && Model.SeasonID > 0)
            {
                <input type="hidden" asp-for="SeasonID" />
                <input type="hidden" asp-for="SeriesID" />
            }
            <div class="form-group ">
                <label asp-for="SeasonName" class="control-label p-2"></label>
                <input asp-for="SeasonName" class="form-control" />
                <span asp-validation-for="SeasonName" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="ReleaseDate" class="control-label p-2"></label>
                <input asp-for="ReleaseDate" class="form-control">
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="EposidesCount" class="control-label p-2"></label>
                <input asp-for="EposidesCount"  class="form-control" />
                <span asp-validation-for="EposidesCount" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-success py-2 px-3"> <i class="bi bi-check2"></i> Save</button>
                </div>
                <div class="form-group col-6">
                    <a asp-action="Index" asp-route-id="@(Model != null && Model.SeasonID > 0 ? Model.SeriesID:ViewBag.ID)" onclick="window.history.go(-1); return false;"><button class="btn btn-primary"> <i class="bi bi-x"></i> Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}