@model MovieApp.Models.Actor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/AdminPanel/_AdminPanelLayout.cshtml";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Actor Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActorID)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Actor Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success py-2 px-3" asp-action="Edit" asp-route-id="@Model?.ActorID">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back</a>
</div>
