@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "Manage/_Layout";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
