@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "Manage/_Layout";
}

<h1>@ViewData["Title"]</h1>
<p class="text-center">
    Please check your email to reset your password.
</p>
