@model MovieApp.Models.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminPanel/_AdminPanelLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditNumber" class="control-label"></label>
                <input asp-for="CreditNumber" class="form-control" />
                <span asp-validation-for="CreditNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UserID" class="control-label">User Email</label>
                <select id="UserID" name="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label for="subID" class="control-label">Subscription</label>
                <select id="subID" name="subID" class="form-control" asp-items="ViewBag.Subscribes"></select>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-success py-2 px-3"> <i class="bi bi-check2"></i> Save</button>
                </div>
                <div class="form-group col-6">
                    <a asp-action="Index" onclick="window.history.go(-1); return false;"><button class="btn btn-primary"> <i class="bi bi-x"></i> Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
